<!DOCTYPE html >
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
         <title> Travel Buddy</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <div class="main">
                    <div class="nav-logo">
                        <p> TB</p>
                        <!-- <img src="./media/planelogo.png"> -->
                    </div>
                    <div class="nav"
                    
                    ></div>
                </div>
            </div>    
        <div class="content">
            <header class="hero">
                <div class="container">
                    <div class="hero-text">
                        <h1>Trip Planner</h1>
                    </div>
                    <div >
                       <div class="user-input" id="user-input">
                           <div class="form__group field">
                            <input type="input" class="form__field" placeholder="Where" name="where" id="where" required   autocomplete="off"/>
                            <label for="where" class="form__label">Where</label>
                          </div>

                          <div class="form__group field">
                            <input type="date" class="form__field" placeholder="When" name="when" id="when" required />
                            <label for="where" class="form__label">When</label>
                          </div>

                            <button class="add-trip-btn" id="add-trip"> Add Trip</button>

                       </div>
               
                    
                    </div>
                </div>
            </header>
            <section class="trip-card" id="trip-card"></section>
        </div>
        <script>
            if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                    console.log('SW registered successfuly: ', registration);
                });
            });
            }else{
            console.log("Service Working not supported");
                }
    </script>
    </body>
</html>

