<!DOCTYPE html >
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
         <title> Travel Buddy</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <div class="main">
                    <div class="nav-logo">
                        <p> TB</p>
                        <!-- <img src="./media/planelogo.png"> -->
                    </div>
                    <div class="nav"
                    
                    ></div>
                </div>
            </div>    
        <div class="content">
            <header class="hero">
                <div class="container">
                    <div class="hero-text">
                        <h1>Trip Planner</h1>
                    </div>
                    <div class="add-trip-form">
                        <form>
                            <label for="where"> where</label>
                            <input type="text" id="where"> 
                            <label for="when"> When</label>
                            <input type="date" id="when">
                            <button class="add-trip-class" id="add-trip"> Add Trip</button>
                        </form>
                    </div>
                </div>
            </header>
            <section class="trip-card">
                <div class="container">
        
                       <div class="trip-image">
                            <!-- <img src="https://pixabay.com/get/55e0d340485aa814f1dc8460962932771d39d7e3524c704c7d2973d59244cd50_640.jpg"> -->
                       </div>
                       <div class="trip-info">
                           <div class="trip-title">
                               <p> Your trip to Miami</p>
                           </div>
                           <div class="trip-description">
                               <p> Departing: November 04 2020 </p>
                               <p> Weather: Sunny </p>

                           </div>
                       </div>
                </div>
            </section>
        </div>
    </body>
</html>

