@import "variables.scss";

.hero {
    margin:50px;
}
.hero-text {
    padding:60px 0 0 0;
    color: black;
    margin: 5px 0 0 0;


    & h1 {
        font-size: $large-text;

        @media screen and( max-width: 800px) {
            font-size: $medium-text;
        }
    }

}

