@import "./reset.scss",  "variables.scss", "./nav.scss", "hero.scss", "./trip-card-section.scss", "./container.scss", 'form.scss';

html {
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    background-color: white;
    font-size: $small-text;
}

